@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-botao-confirmar: #db0000;
  --color-texto-logos : #db0000;
  --color-texto-pequeno : #564d4d;
  --color-botao-informacao : #564d4d;
  --color-botao-regreso: #831010;
  --color-texto-regreso: #831010;
  --color-texto-escuro: 	#000000;
  --color-botao-escuro: 	#000000;
  --color-texto-branco: #ffffff;
  --color-botao-branco: #ffffff;
  --color-fundo-telas: #2b0b0b;
}

@layer base {
  body {
    @apply bg-black text-white font-sans;
  }
}

@layer components {
  .hero-gradient {
    background: linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.7) 100%);
  }
}